<div class="filter">
    <div class="filter-firtRow ">
        <div class="input-div">
            <app-input-search></app-input-search>
        </div>
        <div class="d-flex btn-div">
            <div class="filter-btn">
                <app-button type="filter" text="Filter"></app-button>
            </div>
            <div class="new-btn">
                <app-button type="primary" text="New hire"></app-button>
            </div>
        </div>
    </div>
    <div class="filter-lastRow d-flex">
        <div class="filter-select date">
            <div class=" icon"> <img src="assets/svg/timer-icon.svg" alt=""></div>
            <div class=" text">Create on: Jan/10/21 - Jan/28/21</div>
            <div class="arrow"></div>
        </div>
        <div class="filter-select type">
            <div class=" text">Contract type</div>
            <div class="arrow"></div>
        </div>
        <div class="filter-select name">
            <input type="text" placeholder="Contractor Name">
        </div>
        <div class="filter-select status">
            <div class=" text">Status</div>
            <div class="arrow"></div>
        </div>
    </div>
</div>